body {
    display: flex;
    background-image: url("fundo_cafe.avif");
    justify-content: center;
}

.card {
    display: flex;
    background-color: rgba(248, 228, 215, 0.856);
    width: 600px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(160, 133, 114);
}

.content {
    flex: 1;
}

.imagecontainer {
    border-radius: 8px;
    flex: 1;
    text-align: center;
    width: auto;
    margin-top: 5px;
}

.image {
    flex: 1;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    clip-path: circle();
}